body,
html {
    background-color: #F8F5ED
}
body {
    padding-bottom: 50px;
}


#me {
    width: 300px; 
    height: auto; 
    top: 100px; 
    left: 100px;
    position: absolute;
}

#nina_gruteser {
    width: 401px; 
    height: auto; 
    top: 450px; 
    left: 45px;
    position: absolute;
}

#about_me_header {
    width: 335px; 
    height: auto; 
    top: 69px; 
    left: 495px;
    position: absolute;
}

#publications_header {
    width: 415px; 
    height: auto; 
    top: 300px; 
    left: 490px;
    position: absolute;
}

#projects_header {
    width: 340px; 
    height: auto; 
    top: 550px; 
    left: 458px;
    position: absolute;
}


h3.about_me {
    width: 1000px; 
    height: 270px; 
    top: 150px;
    left: 529px; 
    position: absolute;
    color: #345E8B; 
    font-size: 22px; 
    font-weight: 200;
    font-family: 'Kameron', serif;
    word-wrap: break-word
}


h3.paper1 {
    width: 2000px; 
    height: 30px; 
    top: 380px;
    left: 529px; 
    position: absolute;
    color: #345E8B; 
    font-size: 22px; 
    font-weight: 200;
    font-family: 'Kameron', serif;
    word-wrap: break-word
}

/* h3.conference {
    width: 700px; 
    height: 30px; 
    top: 394px;
    left: 529px; 
    position: absolute;
    color: #345E8B; 
    font-size: 22px; 
    font-family: Kameron;
    word-wrap: break-word
} */

h3.authors {
    width: 700px; 
    /* height: 30px;  */
    top: 420px;
    left: 529px; 
    position: absolute;
    color: #345E8B; 
    font-size: 18px; 
    font-weight: 200;
    font-family: 'Kameron', serif;
    word-wrap: break-word;
    /* margin-bottom: 10px; */
}

.paper1-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent; 
    color: #345E8B; 
    font-size: 16px;
    font-family: 'Kameron', serif;
    text-align: center;
    text-decoration: none;
    border: 2px solid #345E8B; 
    border-radius: 20px;
    cursor: pointer;
    position: absolute; 
    top: 470px;  
    left: 529px;
    transition: background-color 0.3s, color 0.3s;
}

.paper1-button:hover {
    background-color: #345E8B;
    color: #F8F5ED;
}


h3.color_palette {
    width: 700px; 
    height: 30px; 
    top: 630px;
    left: 529px; 
    position: absolute;
    color: #345E8B; 
    font-size: 22px; 
    font-weight: 200;
    font-family: 'Kameron', serif;
    word-wrap: break-word
}

.colorpalette-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent; 
    color: #345E8B; 
    font-size: 16px;
    font-family: 'Kameron', serif;
    text-align: center;
    text-decoration: none;
    border: 2px solid #345E8B; 
    border-radius: 20px;
    cursor: pointer;
    position: absolute; 
    top: 700px;  
    left: 529px;
    transition: background-color 0.3s, color 0.3s;
}

.colorpalette-button:hover {
    background-color: #345E8B;
    color: #F8F5ED;
}

h3.lip_coders {
    width: 121px; 
    height: 30px; 
    top: 730px;
    left: 529px; 
    position: absolute;
    color: #345E8B; 
    font-size: 22px; 
    font-weight: 200;
    font-family: 'Kameron', serif;
    word-wrap: break-word
}

.lipcoders-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent; 
    color: #345E8B; 
    font-size: 16px;
    font-family: 'Kameron', serif;
    text-align: center;
    text-decoration: none;
    border: 2px solid #345E8B; 
    border-radius: 20px;
    cursor: pointer;
    position: absolute; 
    top: 800px;  
    left: 529px;
    transition: background-color 0.3s, color 0.3s;
}

.lipcoders-button:hover {
    background-color: #345E8B;
    color: #F8F5ED;
}

.github-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    position: absolute; 
    top: 550px;  
    left: 110px;
    /* transition: background-color 0.3s, color 0.3s; */
}

.github-button:hover .github-img {
    /* content: url('images/github_hover.png');  */
    src: url('images/github_hover.png');
    transform: scale(1.1);
    transition: 0.3s ease; 
}


.linkedin-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    position: absolute; 
    top: 550px;  
    left: 180px;
    /* transition: background-color 0.3s, color 0.3s; */
}

.linkedin-button:hover .linkedin-img {
    /* content: url('images/linked_in_hover.png');  */
    src: url('images/linked_in_hover.png');
    transform: scale(1.1);
    transition: 0.3s ease; 
}

.mail-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    position: absolute; 
    top: 560px;  
    left: 250px;
    /* transition: background-color 0.3s, color 0.3s; */
}

.mail-button:hover .mail-img {
    /* content: url('images/mail_hover.png');  */
    src: url('images/mail_hover.png');
    transform: scale(1.1);
    transition: 0.3s ease; 
}

