/* Global Styles */
body, html {
    background-color: #F8F5ED;
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 50px;
    font-family: 'Kameron', serif;
}

/* Flexbox layout for mobile/tablets */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.left-column {
    flex: 0 0 400px; 
    margin-right: 20px; 
    text-align: center; 
    justify-content: center;  
}

.right-column {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    max-width: 1000px;
    width: 100%;
}

.section {
    /* flex: 1 1 400px; */
    max-width: 600px;
    text-align: left;
}

/* Mobile Layout */
#me {
    width: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#nina-gruteser {
    width: 100%;
    height: auto;
}

/* Buttons */
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#about-me-header, #publications-header, #projects-header {
    width: 50%;
    height: auto;
}

/* Text Styles */
h3 {
    color: #345E8B;
    font-size: 22px;
    margin: 20px 0;
    max-width: 1000px;
    width: 100%;
}

.about-me, 
.color-palette-description,
.lip-coders-description,
.paper1 {
    font-size: 22px;
    font-weight: 200;
    margin: 0 auto;
    font-weight: 200;
}

.color-palette, 
.lip-coders {
    font-weight: 500;
}

.paper1-button, .colorpalette-button, .lipcoders-button, .video-button {
    padding: 10px 20px;
    background-color: transparent;
    color: #345E8B;
    font-size: 16px;
    border: 2px solid #345E8B;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.paper1-button:hover, .colorpalette-button:hover, .lipcoders-button:hover, .video-button:hover {
    background-color: #345E8B;
    color: #F8F5ED;
}

/* Media Query for Laptops (Desktop) */
/* @media only screen and (min-width: 769px) {
    .container {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: flex-start; 

    }

    .section {
        margin: 20px; 
        flex: 1 1 300px; 
        max-width: 600px;
        text-align: left; 
    }

    h3.about-me,
    h3.paper1,
    h3.color-palette,
    h3.lip-coders,
    h3.color-palette-description {
        text-align: left;
    } 

    #me {
        width: 300px; 
        height: auto; 
        top: 100px; 
        left: 100px;
        position: absolute;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    #nina-gruteser, 
    #about-me-header, 
    #publications-header, 
    #projects-header {
        width: 100%; 
        height: auto; 
    }

    #nina-gruteser {
        width: 401px; 
        height: auto; 
        top: 450px; 
        left: 45px;
        position: absolute;
    }

    #about-me-header {
        width: 250px; 
        height: auto; 
        top: 69px; 
        left: 495px;
        position: absolute;
    }

    #publications-header {
        width: 300px; 
        height: auto; 
        top: 300px; 
        left: 490px;
        position: absolute;
    }

    #projects-header {
        width: 250px; 
        height: auto; 
        top: 550px; 
        left: 458px;
        position: absolute;
    } 

    h3.about-me {
        width: 1000px; 
        height: 270px; 
        top: 150px;
        left: 529px; 
        position: absolute;
        color: #345E8B; 
        font-size: 22px; 
        font-weight: 200;
        word-wrap: break-word;
    }

    h3.paper1 {
        width: 2000px; 
        height: 30px; 
        top: 380px;
        left: 529px; 
        position: absolute;
        color: #345E8B; 
        font-size: 22px; 
        font-weight: 200;
        word-wrap: break-word;
    }

    .paper1-button {
        top: 470px;  
        left: 529px;
        position: absolute;
    }

    h3.color-palette {
        width: 700px; 
        height: 30px; 
        top: 630px;
        left: 529px; 
        position: absolute;
        color: #345E8B; 
        font-size: 22px; 
        font-weight: 500;
        word-wrap: break-word;
    }

    h3.color-palette-description {
        width: 1000px; 
        height: 30px; 
        top: 700px;
        left: 529px; 
        position: absolute;
        color: #345E8B; 
        font-size: 22px; 
        font-weight: 200;
        word-wrap: break-word;
    }

    .colorpalette-button {
        top: 800px;  
        left: 529px;
        position: absolute;
    }

    .video-button {
        top: 800px;  
        left: 630px;
        position: absolute;
    }

    h3.lip-coders {
        width: 121px; 
        height: 30px; 
        top: 850px;
        left: 529px; 
        position: absolute;
        color: #345E8B; 
        font-size: 22px; 
        font-weight: 500;
        word-wrap: break-word;
    }

    h3.color-palette-description {
        width: 1000px; 
        height: 30px; 
        top: 900px;
        left: 529px; 
        position: absolute;
        color: #345E8B; 
        font-size: 22px; 
        font-weight: 200;
        word-wrap: break-word;
    }

    .lipcoders-button {
        top: 950px;  
        left: 529px;
        position: absolute;
    }

    .github-button {
        top: 550px;  
        left: 110px;
        position: absolute;
    }

    .linkedin-button {
        top: 550px;  
        left: 180px;
        position: absolute;
    }

    .mail-button {
        top: 555px;  
        left: 250px;
        position: absolute;
    }
} */

/* Media Query for Mobile */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .section {
        width: 100%;
    }

    h3 {
        text-align: center;
    }

    #me {
        width: 200px;
    }

    #about-me-header, 
    #publications-header, 
    #projects-header {
        width: 70%; 
        height: auto;
        margin: 0 auto;
    }
}
