body,
html {
    background-color: #F8F5ED
}
body {
    padding-bottom: 50px;
}


#me {
    width: 300px; 
    height: auto; 
    top: 100px; 
    left: 100px;
    position: absolute;
}

#nina_gruteser {
    width: 401px; 
    height: auto; 
    top: 450px; 
    left: 50px;
    position: absolute;
}

#about_me_header {
    width: 335px; 
    height: auto; 
    top: 69px; 
    left: 495px;
    position: absolute;
}

#publications_header {
    width: 415px; 
    height: auto; 
    top: 300px; 
    left: 490px;
    position: absolute;
}

#projects_header {
    width: 340px; 
    height: auto; 
    top: 500px; 
    left: 458px;
    position: absolute;
}


h3.about_me {
    width: 1000px; 
    height: 270px; 
    top: 150px;
    left: 529px; 
    position: absolute;
    color: #345E8B; 
    font-size: 22px; 
    font-family: Kameron;
    word-wrap: break-word
}


h3.paper1 {
    width: 700px; 
    height: 30px; 
    top: 364px;
    left: 529px; 
    position: absolute;
    color: #345E8B; 
    font-size: 22px; 
    font-family: Kameron;
    word-wrap: break-word
}

h3.conference {
    width: 700px; 
    height: 30px; 
    top: 394px;
    left: 529px; 
    position: absolute;
    color: #345E8B; 
    font-size: 22px; 
    font-family: Kameron;
    word-wrap: break-word
}

h3.authors {
    width: 700px; 
    height: 30px; 
    top: 424px;
    left: 529px; 
    position: absolute;
    color: #345E8B; 
    font-size: 22px; 
    font-family: Kameron;
    word-wrap: break-word
}

h3.color_palette {
    width: 700px; 
    height: 30px; 
    top: 530px;
    left: 529px; 
    position: absolute;
    color: #345E8B; 
    font-size: 22px; 
    font-family: Kameron;
    word-wrap: break-word
}

h3.lip_coders {
    width: 121px; 
    height: 30px; 
    top: 600px;
    left: 529px; 
    position: absolute;
    color: #345E8B; 
    font-size: 22px; 
    font-family: Kameron;
    word-wrap: break-word
}

